mat-nav-list {
  padding: 1em 0;
}

.mat-icon {
  vertical-align: bottom;
}

a {
  border-radius: 0 !important;
  margin: 1em 0;
}

a span{
  padding: 0 1em;
}

a:hover {
  background-color: #f6d6e0;
  color: #ba005c;
}