<!-- <mat-toolbar color="primary" class="mat-elevation-z6">
  <!-- <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isLoggedIn()">
    <mat-icon>menu</mat-icon>
  </button> --
  <span>Breast Cancer Registry</span>
  <span class="spacer"></span>
  
  <!-- @if (currentUser) {
   <ng-container>
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
        <!-- {{ currentUser.firstName || "" }} {{ currentUser.lastName }} --
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-container>
  } --
  
</mat-toolbar> -->

<mat-toolbar color="primary" class="sticky top-0 z-10">
  <button mat-icon-button (click)="menuClick.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="ml-2 font-semibold text-white">Breast Cancer Registry</span>
</mat-toolbar>