.sidenav-container {
  height: 100%;
}
  
.sidenav {
  width: 200px;
}
  
.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav .item-container {
  display: flex;
  // align-items: center;
  padding: 6em 0;
}
  
.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}
  
::ng-deep .mat-sidenav-container {
  height: 100vh;
}