<main class="app-container">
  <header class="title">
    <span>Breast Cancer Registry</span>
  </header>
  <mat-sidenav-container>
    <!-- Side Navigation -->
    <mat-sidenav class="sidenav" mode="side" opened>
      <app-sidebar class="item-container"></app-sidebar>
    </mat-sidenav>
    <!-- Main Content Area -->
    <mat-sidenav-content>
      <!-- <mat-toolbar color="accent"> -->
      <!-- <button
				type="button"
				aria-label="Toggle sidenav"
				mat-icon-button
				(click)="drawer.toggle()">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button> -->
      <!-- <span>Breast Cancer Registry</span> -->
      <!-- </mat-toolbar> -->
      <main class="p-4">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
